.main-div{
  height: inherit;
  background-image: url("../img/background.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgb(201, 76, 76);
  opacity: 0.55;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 999;
  background-size: cover;
}
