{% extends 'base.html' %}

{% block content %}
  <div class="main-div">
    <h1 class="text-center container-fluid" style='margin-top: 20vh;' style="color:#125;">Forgot password</h1>
    <div class="container">
      <div class="row justify-content-center" style="margin-top:10vh;">
    <form method="post">
      {% csrf_token %}
      <div class="col-sm-12 text-center">

        <!-- begin: input email -->
        <div class="form-group text-center">
          <div class="input-group mb-5">
            <!-- begin: input's addorn -->
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">
                <i class="fas fa-users"></i>
              </span>
            </div>
            <!-- end: input's addorn -->

            <input type="text" name="{{ form.email.html_name }}" class="form-control" placeholder="email" required/>
          </div>
        </div>
        <!-- end: input email -->

      <button class="btn btn-primary" type="submit">Submit</button>
    </div>
    </form>
  </div>
  </div>

  </div>
{% endblock %}
