{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<div class="row" style="margin-top:25vh;">
   <form  method="POST" class="col s12">
     <h5 class="center-align" style="color:rgb(255,0,0);">{{ message }}</h5>
     {% csrf_token %}
     <div class="row">
       <div  class="input-field col s4 push-s4">
         <input name="{{ form.username.html_name }}" placeholder="Username" placeholder="Placeholder" id="first_name" type="text" class="validate">
       </div>
     </div>
     <div class="row">
       <div class="input-field col s4 push-s4">
         <input  name="{{ form.password1.html_name }}" id="last_name" type="password" class="validate" placeholder="password">
       </div>
    </div>
    <div class="row">
      <div class="input-field col s4 push-s4">
        <input  name="{{ form.password2.html_name }}" id="last_name" type="password" class="validate" placeholder="repeat password">
      </div>
   </div>
    <div class="row">
      <div class="col s4 " style="margin-left:46vw;">
        <button class="btn waves-effect waves-light" type="submit" name="action">Sign Up
        </button>
      </div>
    </div>
   </form>
 </div>

{% endblock content %}
