<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
	<title>Budget Management System</title>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css'%}" media="screen,projection">
  <link rel="stylesheet" type="text/css" href="{% static 'css/mainStyles.css'%}" media="screen,projection">
  <link rel="stylesheet" type="text/css" href="{% static 'css/all.css'%}">
	<link rel="stylesheet" href="{% static 'css/bootstrap-datepicker3.css' %}"/>

	<script type="text/javascript" src="{% static 'js/jquery-1.11.3.min.js' %}"></script>
</head>
<body style="height:100vh;">
{% if user.is_authenticated %}
  <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Budget Management System</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" id="li-1">
          <a class="nav-link" href="{% url 'home' %}">Balance</a>
        </li>
        <li class="nav-item" id="li-2">
          <a class="nav-link" href="{% url 'dailyInput' %}">Daily Input</a>
        </li>
        <li class="nav-item" id="li-3">
          <a class="nav-link" href="{% url 'conf' %}">Configuration</a>
        </li>
        <li class="nav-item" id="li-4">
          <a class="nav-link" href="{% url 'simulator' %}">Balance Simulator</a>
        </li>
        <li class="nav-item" id="li-5">
          <a class="nav-link" href="{% url 'savings' %}">Savings History</a>
        </li>
        <li class="nav-item" id="li-6">
          <a class="nav-link" href="{% url 'logout' %}">Logout</a>
        </li>
      </ul>
    </div>
  </nav>
{% endif %}
<div style="display:none" id="alert_succ" class="alert alert-success alert-dismissible">
	<button type="button" class="close" onclick="closeAlertSucceed()">&times;</button>
	<strong id="alertMessage"></strong>
</div>
<div style="display:none" id="alert_wrong" class="alert alert-warning alert-dismissible fade show" role="alert">
	<button type="button"  class="close" onclick="closeAlertWrong()">&times;</button>
	<strong id="alertMessageWrong"></strong>
</div>
{% block content %}


{% endblock %}


<script src="{% static 'js/jquery-3.3.1.slim.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
 <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap-datepicker.min.js'%}"></script>
<script src="{% static 'js/canvasjs.min.js' %}"></script>

<script>

$( document ).ready(function() {
    if({{number}} == 1){
			$('#li-1').addClass('active');
		}else if({{ number }} ==2){
			$('#li-2').addClass('active');

		}else if({{number}} == 3){
			$('#li-3').addClass('active');
		}else if({{number}} == 4){
			$('#li-4').addClass('active');

		}else{
			$('#li-5').addClass('active');
		}
});

function closeAlertWrong(){
	$("#alert_wrong").hide();
}

function closeAlertSucceed(){
	$("#alert_succ").hide();
}
function deleteConcept(e){
		if($("#conceptos").val() == -1){
			$("#alert_wrong").show();
			document.getElementById('alertMessageWrong').innerHTML = "Please Select a Concept";
			return;
		}
		$.ajax({
			type: "GET",
			url:"{% url 'deleteConcept' %}",
			dataType: "json",
			async:true,
			data:{
				csrfmiddlewaretoken:'{{ csrf_token }}',
				id_concept: $("#conceptos").val(),
			},
			success: function(){

				$("#alert_succ").show();
				document.getElementById('alertMessage').innerHTML = "Concept Deleted";
				console.log("succeed");
			},
			error: function(){

				console.log("error");

			}
		})
	}


	function deleteDailyInput(e){
		$.ajax({
			type: "GET",
			url:"{% url 'deleteDailyInput' %}",
			dataType: "json",
			async:true,
			data:{
				csrfmiddlewaretoken:'{{ csrf_token }}',
				id_concept: $("#conceptos").val(),
				date: $("#from-date").val(),
			},
			success: function(){

				$("#alert_succ").show();
				document.getElementById('alertMessage').innerHTML = "Daily Input Deleted";
				console.log("succeed");
			},
			error: function(){

				console.log("error");

			}
		})
	}
</script>

</body>
</html>
