{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<div class="container" style="margin-top:15vh;">
  <div class="row"  >
    <form method="POST" class="text-center" style="width:100vw;">


      <div class="col-md-4" style="margin-left:auto; margin-right:auto;">
        <div class="input-group mb-3 ">
        <select class="custom-select" id="conceptos">
          <option selected>New Concept</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
        </div>
      </div>


      <div class="col-md-4" style="margin-left:auto; margin-right:auto;">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"><i class="fas fa-pencil-alt"></i></span>
          </div>
          <input type="text" class="form-control" placeholder="Name" aria-label="Username" aria-describedby="basic-addon1">
        </div>
      </div>

      <div class="col-md-4" style="margin-left:auto; margin-right:auto;">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon2"><i class="fas fa-money-bill-alt"></i></span>
          </div>
          <input type="number" class="form-control" placeholder="Value" aria-label="Username" aria-describedby="basic-addon2">
        </div>
      </div>

      <div class="col-md-4" style="margin-left:auto; margin-right:auto;">
        <div class="input-group mb-3 ">
        <select class="custom-select" id="period">
          <option selected>No period</option>
          <option value="3">daily</option>
          <option value="1">biweekly</option>
          <option value="2">monthly</option>
        </select>
        </div>
      </div>

      <div class="col-md-4" style="margin-left:auto; margin-right:auto;">
        <div class="input-group mb-3 ">
        <select class="custom-select" id="type">
          <option value="0" selected>expense</option>
          <option value="1">Income</option>
        </select>
        </div>
      </div>

      <div class="col-md-4" style="margin-left:auto; margin-right:auto;">
        <div class="input-group mb-3 ">
        <select class="custom-select" id="expenseType">
          <option selected>Non-fixed expense</option>
          <option value="3">health</option>
          <option value="1">food</option>
          <option value="2">essential services</option>
        </select>
        </div>
      </div>

      <div class="container" style="margin-top:10vh;">
        <div class="row">
          <div class="col-sm-5 offset-sm-1 ">
            <a href="" class="btn btn-primary " role="button"  style="margin-top:1em;">Delete</a>
          </div>
          <div class="col-sm-5 " style="margin-top:1em;">
            <button class="btn btn-primary" type="submit" role="button">Save</button>
          </div>
        </div>
      </div>

    </form>
  </div>
</div>




{% endblock content %}
