{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<div class="container" style="margin-top:15vh;">
  <div class="row"  >
    <form method="POST" class="text-center" style="width:100vw;">
      {% csrf_token %}
      <div class="col-md-4" style="margin-left:auto; margin-right:auto;">
      <div class="form-group">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">
              <i class="fas fa-calendar-alt"></i>
            </span>
          </div>
          <input id="from-date" type="text" name="{{ form.from_date.html_name }}" class="form-control" placeholder="from"/>
        </div>
      </div>
    </div>


      <div class="col-md-4" style="margin-left:auto; margin-right:auto;">
        <div class="input-group mb-3 ">
        <select class="custom-select" id="conceptos" name="{{ form.id_concepto.html_name }}" required>
          {% for c in conceptos %}
            <option value="{{ c.id }}">{{ c.name }}</option>
          {% endfor %}
        </select>
        </div>
      </div>

      <div class="col-md-4" style="margin-left:auto; margin-right:auto;">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon2"><i class="fas fa-money-bill-alt"></i></span>
          </div>
          <input type="number" id="inputValue" step="0.01" name = "{{ form.value.html_name }}" class="form-control" placeholder="Value" aria-label="Username" aria-describedby="basic-addon2">
        </div>
      </div>


      <div class="container" style="margin-top:10vh;">
        <div class="row">
          <div class="col-sm-5 offset-sm-1 ">
            <button type="button" onclick="deleteDailyInput(event)" class="btn btn-primary" style="margin-top:1em;">Delete</button>
          </div>
          <div class="col-sm-5 " style="margin-top:1em;">
            <button class="btn btn-primary" type="submit" role="button">Add</button>
          </div>
        </div>
      </div>




    </form>
  </div>
</div>

<script>

    var conceptsId =[];
    var conceptsValue = [];
    $(document).ready(function(){


      {% for c in conceptos|slice:":1" %}
          document.getElementById('inputValue').value = "{{ c.value }}";
      {% endfor %}

      {% for c in conceptos %}
        conceptsId.push("{{ c.id }}");
        conceptsValue.push({{ c.value }});
      {% endfor %}
      $('select').on('change', function() {
        var numValue = 0;
        for(var i =0; i < conceptsId.length; i++){


          if(conceptsId[i] == this.value){
            numValue = conceptsValue[i];
          }
        }
        document.getElementById('inputValue').value = numValue ;

      });


      var date_input=$('input[name="{{ form.from_date.html_name }}"]'); //our date input has the name "date"
      var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
      var options={
        format: 'dd/mm/yyyy',
        container: container,
        todayHighlight: true,
        autoclose: true,
      };
      date_input.datepicker(options);

      document.getElementById('from-date').value = "{{ todayDate }}";

    })

    {% if isDailyInput ==  True %}
      $("#alert_succ").show();
      document.getElementById('alertMessage').innerHTML = "{{ message }}";
    {% endif %}

</script>

{% endblock content %}
