{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<div class="container" style="margin-top:30vh;">

  <div class="row justify-content-center">
    <div class="btn-group-vertical" role="group" aria-label="...">
      <a href="" class="btn btn-info"><i class="fas fa-medkit"></i> Health </a>
      <a href="" class="btn btn-info"><i class="fas fa-utensils"></i> Food</a>
      <a href="" class="btn btn-info"><i class="fas fa-warehouse"></i> Essential Services</a>
      <a href="" class="btn btn-info"><i class="far fa-surprise"></i> Non-fixed Expenses</a>
    </div>
  </div>

</div>

{% endblock content %}
